body{
    background-color: $vert_pale;
}

#formulaire{
    margin-top: 2%;
    
    h1{
        text-align: center;
        margin-bottom: 5%;
    }
    input{
        border-radius: 5px;
    }

    .row{
        margin-bottom: 2%;
    }
}
.titre_colonne{
    width:100%;
}
//class lier aux fonctions afficher()/cacher()
#nav_bar .cache{
	display:none;
	}
#nav_bar .visible{
	display:block;
	}
        .numb {
            display : none;
        }
        .email{
            display : none;
        }
        .sexe{
            display : none;
        }
        
        .dateN{
            display : none;
        }
        .age{
            display:none;
        }
        .pencil, .trash, .envelope, .infos{
            margin-left:5%;
        }