body{
    background-color: $vert_pale;
}

#formulaire{
    margin-top: 2%;
    
    h1{
        text-align: center;
        margin-bottom: 5%;
    }
    input{
        border-radius: 5px;
    }

    .row{
        margin-bottom: 2%;
    }
}
