body{
    background-color: $bleu_pale;
}

#formulaire{
    margin-top: 2%;

    h1{
        text-align: center;
        margin-bottom: 5%;
    }
    input{
        border-radius: 5px;
    }

    .row{
        margin-bottom: 2%;
    }
}
.titre_colonne{
    width:100%;
}

#accueil {
    .taille_photo{
        width:100%; 
    }
    .background_message{
        background-color: $back_message;
        color: $bleu_pale;
        border-radius: 8%;
    }
    .espace_message{
        margin-top: 4%;
        margin-bottom: 4%;
        border-radius: 2%;
    }
    
    .espace h1{
        padding: 2%;
        
    }
    

} 

//class lier aux fonctions afficher()/cacher()
#nav_bar .cache{
	display:none;
	}
#nav_bar .visible{
	display:block;
	}
