body{
    background-color: $bleu_pale;
}


//class lier aux fonctions afficher()/cacher()
#nav_bar .cache{
	display:none;
	}
#nav_bar .visible{
	display:block;
	}
        .email, {
            text-align: center;
        }