body{
    background-color: $bleu_pale;
}
//class lier aux fonctions afficher()/cacher()
#nav_bar .cache{
    display:none;
}
#nav_bar .visible{
    display:block;
}
.numb, .email, .dateI, .age, .nom, .prenom {
    display: block; 
    
}
.email, .numb{
    word-wrap: break-word;
}



